<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/_head') %>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <h1>My Polls</h1>
    <div class="my-polls-container">
      <table class="table">
        <thead>
          <tr></tr>
        </thead>
        <tbody class="my-polls">
          <% for(let poll of polls) { %>
          <tr>
            <td align=""><%= poll.description %></td>
            <td align="right">
              <form method="GET" action="/polls/<%= poll.sub_link_id %>/result">
                <button type="submit" class="btn btn-outline-primary view-btn ">View</button>
              </form>
            </td>
            <td align="right">
              <form method="POST" action="/polls/<%= poll.sub_link_id %>/delete"><button type="submit"
                  class="btn btn-danger delete-btn">Delete</button></form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>

</html>