<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/_head') %>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>


    <h1><%=title %></h1>

    <h3 class="poll-description"><%=description %></h3>
    <br>

    <h4>Submit your ranking by dragging the options from top to bottom with the top meaning your first choice!</h4>
    <br>

    <div class="new-form-wrapper">
      <form action="" method="POST" id="voting-form">
        <ul id="sortable" class="voting-options">
          <% for (let i = 0; i < choices.length; i++) { %>
          <li class="choices options" id="<%=choice_id[i] %>"><%=choices[i] %></li>
          <% } %>
        </ul>
        <input name="ranking" id="ranking" type="hidden" />
        <input class="btn btn-outline-light poll-submission-btn" name="submit" value="Submit" type="submit" />
      </form>

    </div>

  </body>

</html>