<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('partials/_head') %>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>


    <h1><%=title %></h1>

    <div class=description></div>

    <h3 id="poll-title"><%=description %></h3>

    <h4>You can rank your option by dragging the options from top to bottom. Top meaning your best choice and bottom meaning your worst choice.</h4>

    <div class="d-flex justify-content-around poll-container">
      <form action="" method="POST" id="voting-form">
        <ul id="sortable" class="d-flex flex-column justify-content-center align-items-center voting-options">
          <li class="choices options" id="<%=choice_id[0] %>"><%=choices[0] %></li>
          <li class="choices options" id="<%=choice_id[1] %>"><%=choices[1] %></li>
          <li class="choices options" id="<%=choice_id[2] %>"><%=choices[2] %></li>
          <li class="choices options" id="<%=choice_id[3] %>"><%=choices[3] %></li>
        </ul>
        <input name="ranking" id="ranking" type="hidden" />
        <input  class="sub-btn" name="submit" value="submit" type="submit" />
      </form>

    </div>

  </body>

</html>
